@import url('./fonts.css');
body{
    background: #1A153A;
    font-family: 'Jost', sans-serif;
    margin: 20px 0px;
}
.search{
    text-align: center;
}
.search-text{
    width: 400px;
    padding: 9px 20px;
    box-sizing: border-box;
    font-size: 17px;
    font-family: 'Jost', sans-serif;
    outline: none;
    border: none;
    background: rgba(29, 29, 29, 0.7);
    line-height: 23px;
    color: rgba(255, 255, 255, 0.8);
}
.search-results{
    width: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #1D1841;
    box-shadow: 0px 5px 20px -4px rgba(0, 0, 0, 0.25);
}
.search-result{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    box-sizing: border-box;
    width: 400px;
    padding: 20px;
    border-bottom: 1px solid rgba(243, 243, 243, 0.06);
    cursor: pointer;
    transition: 0.2s;
}
.search-result:hover{
    background: #181436;
}
.search-track-image{
    width: 70px;
}
.search-track-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
}
.search-track-title{
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 25px;
    color: #FFFFFF;
}
.search-track-artist{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: rgba(255, 255, 255, 0.78);
}
.search-track-album{
    color: rgba(255, 255, 255, 0.98);
    font-size: 14px;
    font-style: italic;
}
.audio-display-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.audio-display{
    position: absolute;
    margin-left: -200px;
    left: 50%;
    top: 50%;
    margin-top: -200px;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    background: #1F1A45;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.track-image{
    width: 185px;
    height: 185px;
    border-radius: 14px;
}
.track-title{
    font-weight: 600;
    font-size: 20px;
    line-height: 29px;
    color: #FFFFFF;
}
.track-artist{
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #FFFFFF;
}
.track-album{
    color: #a7a6a6;
}
.track-actions{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.track-action{
    margin: 0px 25px;
    font-size: 29px;
    color: #FFFFFF;
    cursor: pointer;
    transition: 0.2s;
}
.track-action:hover{
    color: #918f8f;
}
.play-track, .pause-track{
    font-size: 38px;
}